<div class="container contenido">
    <div class="row ">
      <div class="col mt-4">
        <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/madrin.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Madryn Mágico</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Ver Promociones</a>
        </div>
      </div>
    </div>
      <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/imagenes/vino.jpg" class="card-img-top" alt="..."height="200px">
            <div class="card-body">
            <h5 class="card-title">Caminos del vino</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver Promociones</a>
        </div>
      </div>
    </div>
      <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/imagenes/cataratas.jpg" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
            <h5 class="card-title">Cataratas-Misiones</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver Promociones</a>
        </div>
      </div>
    </div>
   
      <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/imagenes/baas.jpg" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
            <h5 class="card-title">Porteño unos días</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver Promociones</a>
        </div>
      </div>
    </div>
    <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/imagenes/norte.jpg" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
            <h5 class="card-title">Norte Argentino</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/imagenes/glaciar.jpg" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
            <h5 class="card-title">Glaciares</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div>