<nav class="navbar header-menu toolbar">
    <div class="container justify-content-right">
        <div class="row">

            <div class="col">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/imagenes/facebook.png" alt="" width="30" height="24">
                  </a>
            </div>
            <div class="col">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/imagenes/instagram.png" alt="" width="30" height="24">
                  </a>
            </div>
            <div class="col">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/imagenes/twitter.png" alt="" width="30" height="24">
                  </a>
            </div>
          </div>
    </div>
    
  </nav>
