<ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Viajes</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Temporadas</a></li>
      <li><a class="dropdown-item" href="#">Destinos</a></li>
      <li><a class="dropdown-item" href="#">Promociones</a></li>
      <li><a class="dropdown-item" href="#">Salidas Grupales</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Nosotros</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
 
</ul>