.container{

    background-color: antiquewhite;
}
.color1 {
    color: white;
    background-color: blue;
}

.color2 {
    color: white;
    background-color: green;
}

.color3 {
    color:white;
    background-color: blueviolet;
}

.apodo {
    text-align: center;
    align-items: center;
    margin: auto;
    padding-left: 20px;
}

.cuerpoTabla {

    background-color: #212529;
}

li {
    text-decoration: none;
}